<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<h2 style="text-align: center; font-family:verdana; color: #434141; padding-top: 20px;">Coolio</h2>
<p style="text-align: center; font-family:verdana; padding-top: 20px;">Hey ${name}, your new Post on our platform has been successfully published! Go nuts Coolio-ing!!!</p>
<p style="text-align: center; font-family:verdana; padding-top: 20px;">- Folks at <b>Coolio</b></p>
</body>
</html>